@charset "utf-8";
@import url("x-mas.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Russo+One&display=swap');

/*Root*/

* {margin: 0px}
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

/*Header*/

header {
  width: inherit;
  height: 150px;
  padding: 50px;
  
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  
  position: fixed;
  z-index: 1;
  
  font-family: "Russo One", sans-serif;
  font-style: normal;
  font-size: 45px;
  letter-spacing: 10px;
  
  background-color: #FACE8B;
  color: #182A73;
}
#logo {
  width: 135px;
  height: 135px;
}

/*Table*/

main {
  position: relative;
  top: 150px;
  color: whitesmoke;
  background: linear-gradient(135deg, #19163a 0%, #2c295c 50%, #46458a 100%);
  animation: gradient-rotation 1s ease infinite alternate; 
}
h1 {
  height: 50px;
  
  align-content: center;
  text-align: center;
  
  font-family: "Russo One", sans-serif;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 2px;
  
  background-color: #92235E;
  color: #FACE8B;
}
article {
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  border: solid 1px #FFC73D;
  box-shadow: 
    0 0 10px #FFC73D;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  text-align: center;
  
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 16pt;
  font-weight: 500;
  
  background-color: transparent;
}
a {
  text-decoration: none;
}
a[href]:not(.button):not(.modal-close) {
  text-decoration: none;
  color: #FFC73D;
}
.block-1 {
  width: 40vw;
  min-width: 40vw;
  
  display: flex;
  justify-content: flex-start;
  align-items: inherit;
  align-content: inherit;
  text-align: start;
  text-wrap: balance;
}
.photo {
  width: 75px;
  height: 75px;
  min-width: 75px;
  min-height: 75px;
  margin: 0px 50px 0px 20px;
  
  border-radius: 50%;
  border: 2px solid black;
}
.block-2 {
  width: 40vw;
  min-width: 40vw;
  
  align-items: inherit;
  align-content: inherit;
  text-align: end;
  text-wrap: balance;
}
.line {
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  align-items: inherit;
  align-content: inherit;
  text-align: inherit;
}
.button {
  width: 100px;
  min-width: 100px;
  height: 50px;
  margin: 20px 20px 20px 50px;
  border: none;
  border-radius: 10px;
  
  box-sizing: border-box;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  
  font-family: "Russo One", sans-serif;
  font-size: 12pt;
  font-weight: 400;
  letter-spacing: 2px;
  text-decoration: none;
  
  color: #3B3013;
  cursor: pointer;
  
  --glow-color: #FFFFFF;
  transition: background-color 2s ease-in-out;
  animation: neon-pulse 1.5s infinite alternate ease-in-out;
}

/*Modal Popup*/

.modal-overlay {
  width: 100%;
  height: 100%;
  
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: rgba(0, 0, 0, 0.6);
}
.modal-overlay:target {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s ease;
}
.modal-popup {
  width: 50%;
  height: auto;
  min-height: 200px;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  background: white;
  
  display: flex;
  flex-direction: column;
  overflow: auto;
  
  font-family: Bahnschrift, "Bahnschrift Condensed", "Bahnschrift Light", "Bahnschrift Light Condensed", "Bahnschrift Light SemiCondensed", "Bahnschrift SemiBold", "Bahnschrift SemiBold Condensed", "Bahnschrift SemiBold SemiConden", "Bahnschrift SemiCondensed", "Bahnschrift SemiLight", "Bahnschrift SemiLight Condensed", "Bahnschrift SemiLight SemiConde";
  font-size: 14pt;
  font-weight: 200;
  text-align: left;
}
body.no-scrool {
  overflow: hidden;
  position: fixed;
  width: 100%;
}
.modal-close {
  position: absolute;
  top: 5px;
  right: 10px;
  text-decoration: none;
  font-size: 24px;
  color: #888;
}
.modal-text {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: inherit;
}

/*Animations*/

@keyframes neon-pulse {
  0% {
    box-shadow: 
      0 0 5px var(--glow-color), 
      0 0 10px var(--glow-color);
  }
  100% {
    box-shadow: 
      0 0 15px var(--glow-color), 
      0 0 25px var(--glow-color), 
      0 0 40px var(--glow-color),
      0 0 10px inset var(--glow-color);
  }
}
@keyframes gradient-rotation {
    0% {
        /* Начинаем с угла 135 градусов */
        background-position: 0% 50%;
    }
    100% {
        /* Заканчиваем в другом положении, градиент смещается */
        background-position: 100% 50%;
    }
}

/*Media Queries*/

@media (max-width: 1920px) and (min-width: 1024px) {
  article {font-size: 12pt}
}
@media (max-width: 1024px) and (min-width: 768px) {
  article {font-size: 10pt}
}
@media (max-width: 768px) and (min-width: 576px) {
  label {
    font-size: 0.5em;
  }
  article {font-size: 8pt}
}
@media (max-width: 576px) {
  label {
    font-size: 0.4em;
  }
  #logo {
  width: 75px;
  height: 75px;
  }
  h1 {
    height: 25px;
    font-size: 0.90em;
  }
  article {
    font-size: 6pt;
    padding: 5px;
  }
  .photo {
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    margin: 0px 10px 0px 10px;
  
    border-radius: 50%;
    border: 2px solid black;
  }
  .button {
    width: 50px;
    min-width: 50px;
    font-size: 0px;
    border-raius: 100%;
    margin: 10px 10px 10px 10px;
  }
  .modal-popup {
    width: 70%;
  }
  .modal-text {font-size: 12pt}
}
