@charset "utf-8";
#snow-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Позволяет кликам проходить сквозь холст к контенту сайта */
    z-index: 1000; /* Убедитесь, что он выше остальных элементов */
}
